<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>首頁</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_1658828_vud4w73neg.css">
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body class="bg-light">
    <%- include('../header.html') -%>

    <div class="container-fluid vh-100">
        <div class="row h-100">
            <%- include('../navs.html') -%>
            <div class="col-10">
                <div class="p-3 border mb-3 bg-white">
                    <h4 class="mb-0">文章管理</h4>
                </div>
                <div class="row mt-3">
                    <div class="col">
                        <div class="card">
                            <div class="card-header bg-primary text-white d-flex justify-content-between">
                                <h6 class="mb-0 align-self-center">文章列表</h6>
                            </div>
                            <div class="card-body">
                                <form action="/admin/article" class="form-inline mb-3" method="get">
									<!-- 文章管理頁的隱藏的輸入框 -->
									<input type="hidden" name="p" value="<%= page.p %>">
                                    <div class="form-group">
                                        <label for="category">種類：</label>
                                        <select name="category_id" id="category" class="form-control-sm">
                                            <option value="-1">全部</option>
											<% categories.forEach(category => { %>
                                            <option value="<%= category.id %>"><%= category.name %></option>
											<% }) %>
                                        </select>
                                    </div>
                                    <div class="form-group ml-3">
                                        <label for="hot">熱門：</label>
                                        <select name="hot" id="hot" class="form-control-sm">
                                            <option value="-1">全部</option>
                                            <option value="1">熱門</option>
                                            <option value="0">非熱門</option>
                                        </select>
                                    </div>
                                    <div class="from-group ml-3">
                                        <input type="submit" value="篩選" class="btn btn-primary btn-sm">
                                    </div>
                                    <div class="form-group ml-auto">
                                        <a href="/admin/article/add" class="btn btn-danger btn-sm">發表文章</a>
                                    </div>
                                </form>
                                <table class="table table-hover text-center">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>標題</th>
                                            <th>縮圖</th>
                                            <th>熱門推薦</th>
                                            <th>操作</th>
                                        </tr>
                                    </thead>
                                    <tbody>
										<% page.list.forEach(article => { %>
                                        <tr>
                                            <th><%= article.id %></th>
                                            <td><%= article.title %></td>
                                            <td>
												<!-- 如果有縮圖就顯示 不然不顯示 -->
												<% if(article.thumbnail) {%>
                                                <i class="iconfont icon-photo" data-toggle="popover"
                                                    data-content="<img src='<%= article.thumbnail %>'>"></i>
												<% } %>
                                            </td>
                                            <td>
                                                <div class="custom-control custom-switch">
                                                    <input type="checkbox" class="custom-control-input" id="hot1" <%= article.hot?"checked":"" %> >
                                                    <label class="custom-control-label" for="hot1"></label>
                                                </div>
                                            </td>
                                            <td>
                                                <a href="/admin/article/edit" class="text-primary" title="編輯"><i
                                                        class="iconfont icon-bianji"></i>編輯</a>
                                                <a href="#" onclick="return confirm('確定刪除？')" class="text-danger"
                                                    title="刪除"><i class="iconfont icon-delete"></i>刪除</a>
                                            </td>
                                        </tr>
                                        <% }) %>
                                    </tbody>
                                </table>
                                <nav class="d-flex justify-content-between border-top pt-3 px-3">
                                    <div class="align-self-center">共 <%= page.count %> 條 / 共 <%= page.total %> 頁 / 第 <%= page.p %> 頁</div>
                                    <ul class="pagination mb-0">
										<% if(page.p != 1) { %>
                                        <li class="page-item"><a class="page-link" href="/admin/article?p=<%= page.p-1 %>">上一頁</a></li>
										<% } %>
										<% for(let index = 1; index <= page.total; index++) { %>
                                        <li class="page-item"><a class="page-link" href="/admin/article?p=<%= index %>"><%= index %></a></li>
										<% } %>
										<% if(page.p != page.total) { %>
                                        <li class="page-item"><a class="page-link" href="/admin/article?p=<%= page.p+1 %>">下一頁</a></li>
										<% } %>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/holder/2.9.6/holder.min.js"></script>
    <script src="https://gw.alipayobjects.com/os/lib/antv/g2/3.5.12/dist/g2.min.js"></script>
    <script src="https://gw.alipayobjects.com/os/antv/pkg/_antv.data-set-0.10.2/dist/data-set.min.js"></script>
    <script src="../static/js/public.js"></script>
</body>

</html>