<div class="col-2 bg-white border-right nav-left p-0">
	<div class="row text-center mt-3 px-5">
		<a href="/admin/article/add" class="btn btn-primary rounded-0 col">發表文章</a>
	</div>
	<div class="list-group list-group-flush border-top border-bottom mt-3 text-center">
		<!-- 這裏之後練習設置 當到這個url後導航欄式反光狀態 -->
		<!-- ex: <li  class:"active"> 這樣-->
		<li class="list-group-item list-group-item-action">
			<a href="/admin" class="text-decoration-none text-secondary">
				<i class="iconfont icon-home pr-1"></i>個人中心
			</a>
		</li>
		<li class="list-group-item list-group-item-action">
			<a href="/admin/article" class="text-decoration-none text-secondary">
				<i class="iconfont icon-neirongguanli pr-1"></i>文章管理
			</a>
		</li>
		<li class="list-group-item list-group-item-action">
			<a href="/admin/category" class="text-decoration-none text-secondary">
				<i class="iconfont icon-leimuguanli pr-1"></i>種類管理
			</a>
		</li>
		<li class="list-group-item list-group-item-action">
			<a href="/admin/log" class="text-decoration-none text-secondary">
				<i class="iconfont icon-log pr-1"></i>查看LOG日誌
			</a>
		</li>
		<li class="list-group-item list-group-item-action">
			<a href="/admin/account" class="text-decoration-none text-secondary">
				<i class="iconfont icon-zhanghuguanli pr-1"></i>帳戶管理
			</a>
		</li>
	</div>
</div>
